//Lora google font import
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$font-lora: 'PT Sans', sans-serif;

$color-gray: #b5b5b5;
$color-blue: rgb(85, 153, 241);
$color-blue-dark: #0c2340;
$color-black: #000;
$color-white: #fff;
$color-green: #03c04a;
$color-red: #f52f2f;
