.main-header {
  padding: 60px 0;
  background-color: $color-gray;

  .main-header__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .main-header__descripton {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}


@media screen and (min-width: 769px) {
  .main-header {
    .main-header__title {
      font-size: 40px;
      line-height: 30px;
    }

    .main-header__descripton {
      font-size: 28px;
      line-height: 26px;
    }
  }
}